:root {
	background-color: #F3D3F1;
	font-size: 62.5%;
	overflow: hidden;
}

@media only screen and (width: 769px > 1024px) {
 :root {
	 font-size: 45%;
 }
}

@media only screen and (max-width: 600px) {
 :root {
	 font-size: 40%;
 }
}

*{
	box-sizing: border-box;
}

.center {
    width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 2rem;
	flex-direction: column;
	max-width: 80rem;
}

h1 {
	font-size: 4rem;
	margin-bottom: 1rem;
	color: blue;
}

.playbutton {
  font-size: 2.2rem;
  padding: 1rem 0;
  width: 18rem;
  text-align: center;
  border: 0.1rem solid blue;
  text-decoration: none;
  color: blue;
  background-color: white;
}

.playbutton:hover {
	cursor: pointer;
}

#homebtn {
	background-color: #D1E8F2;
	margin-top: 2rem;
}
